#root {
  padding: 0rem;
  text-align: left;
  font-family: Tahoma, Verdana, sans-serif;
  vertical-align: top;
}
table {
  border: 1px solid lightgray;
  border-radius: 20px;
}
div {
  border-radius: 20px;
  padding: 1rem;
  vertical-align: text-top;
}
td {
  vertical-align: text-top;
}
li {
  padding: 1rem;
}
