#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family: Tahoma, Verdana, sans-serif;
  vertical-align: top;
}
table {
  border: 1px solid lightgray;
  padding: 0px;
  border-radius: 20px;
}
tr {
  border: 0px solid lightgray;
  padding: 0px;
}
td {
  border-radius: 20px;
  border-collapse: collapse;
  border: 0px solid lightgray;
  padding: 25px;
  vertical-align: top;
  background-color: gold; width: 40%; vertical-align: top;
}
